/* #6B7A8F
#F7882F
#F7C331
#DCC7AA
 */

body {
  min-height: 100vh;
  margin: 0; /* Important! */
  font-family: sans-serif;
  background:#6B7A8F;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.LogPicker {
  border: 1px red solid;
  background-color: #F7C331;
  color: #6B7A8F;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  min-width: 75%;
  flex-direction: column;
}

.App {
  background-color: #EFEFEF;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  min-width: 75%;
  flex-direction: column;
}

.Entry {
  background-color: #6B7A8F;
  color: #F7C331;
  border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  min-width: 75%;
  flex-direction: column;
}


.AddEntryForm {
  color: #6B7A8F;
  background-color: #F7C331;
  border: 1px red solid;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  min-width: 75%;
  flex-direction: column;
}

.Clock {
  background-color: #F7C331;
  color: #6B7A8F;
  border: 1px red solid;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  min-width: 75%;
  flex-direction: column;
}


.Log {
  background-color: #6B7A8F;
  color: #F7C331;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  min-width: 75%;
  flex-direction: column;
}

textarea {
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 75%;
  margin: auto;
}

input {
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 75%;
  margin: auto;
}

h2 {
  color: #F7882F;
  /* width: 100px;  Or whatever
  height: 100px; Or whatever */
  margin: auto;  /* Magic! */

}

h1 {
  color: #4a4848;
}

button {
  color: #F7C331;
  background-color: #F7882F;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 25%;
  margin: auto;
}
