/* Palette
#6B7A8F
#F7882F
#F7C331
#DCC7AA
 */

body {
  border: 10px solid goldenrod;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

/* TODO: set log picker contents to align-center  */

.LogPicker {
  background-color: #F7C331;
  color: #6B7A8F;
  border-radius: 10px;
  display: flex;
  height: 100vh;
}

.log-selector{
  border: 2px solid red;
}
.utilityButtons {

}

.utilityButtons button{

}

/* container */
.App {
  background-color: #F7C331;
  border-radius: 10px;
}

/* item of App */
.Clock {
  background-color: #6B7A8F;
  border-radius: 10px;
}

.Log {
  background-color: #F7882F;
  border-radius: 10px;
}

.AddEntryForm {

}

.Entry {
  background-color: #DCC7AA;
  border-radius: 10px;
}

/* h2 {

}

h1 {

}

button {

}

textarea {

}

input {

}
 */
